@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans; /* Uses Tailwind's "sans" font */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure Inter is used as the default font */
@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
